<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="card-nome">{{ pokemon.charAt(0).toUpperCase() + pokemon.slice(1) }}</mat-card-title>
    </mat-card-header>
    <img class="card-imagem" mat-card-image [src]="imagem" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div *ngIf="localizacaoVazia">
        <h2>Localização</h2>
        <p>localização não encontrada</p>
      </div>
      <div *ngIf="!localizacaoVazia">
        <h2>Localização</h2>
        <p class="card-local" *ngFor="let local of locais"> {{ local }} </p> 
      </div>
      <h2>Tipos</h2>
      <p class="card-tipo" *ngFor="let tipo of TipoPokemon" [class]="tipo"> {{ tipo.charAt(0).toUpperCase() + tipo.slice(1) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="card-voltar" mat-button (click)="voltarPraHome()">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
        </svg>
      </button>
    </mat-card-actions>
  </mat-card>