.card-nome{
    font-weight: bold;
    font-size: 32px;
    font-family: "Flexo-Regular",arial,sans-serif;
    width: 100%;
    text-align: center;
}

.card-imagem{
    width: 100%;
}

.card-local{
    font-weight: bold;
    font-size: 16px; 
    font-family: "Flexo-Regular",arial,sans-serif;
}

.card-tipo{
    font-weight: bold;
    font-size: 16px;
    font-family: "Flexo-Regular",arial,sans-serif;
}

.card-voltar{
    margin-top: 40px;
}